<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>247172018141-m0u3i5eg2rlr603aakl4q01fqaphv8c9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.247172018141-m0u3i5eg2rlr603aakl4q01fqaphv8c9</string>
	<key>API_KEY</key>
	<string>AIzaSyD14SYyNjZkwg3Xvk8tLV5uKp0eQ9moDbE</string>
	<key>GCM_SENDER_ID</key>
	<string>247172018141</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>de.organizerapp.androidProgOrganizerApp</string>
	<key>PROJECT_ID</key>
	<string>organizerapp-163c4</string>
	<key>STORAGE_BUCKET</key>
	<string>organizerapp-163c4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:247172018141:ios:50021d26852021ba7e1034</string>
</dict>
</plist>